#Tiema-Cab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.theme-tradewind {
    --primary-color: #6aab9c;
    --secondary-color: #f7b36b;
    --chart-color1: #6aab9c;
    --chart-color2: #f7b36b;
    --chart-color3: #97B0AA;
    --chart-color4: #4D6E94;
    --chart-color5: #81A1CA;
    --chart-color6: #ED5782;
    --primary-gradient: linear-gradient(45deg, #608bc2, #65a0a9);
}
.sidebar {
    -moz-transition: ease 0.1s;
    -o-transition: ease 0.1s;
    -webkit-transition: ease 0.1s;
    transition: ease 0.1s;
    background: var(--primary-color);
    z-index: 99999;
    margin: 25px;
    height: calc(100vh - 50px);
    width: 260px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-radius: 1.1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.brand-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.brand-icon .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-icon .logo-icon i{
    color: #fff;
}
