<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"

>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Patient</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="body d-flex py-3">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="border-0 mb-4">
                    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                        <h3 class="fw-bold mb-0">Ajouter un Patients</h3>
                    </div>
                </div>
            </div> <!-- Row end  -->
            <div class="row mb-3">
                <div class="col-sm-12">
                    <form method="post" th:action="@{/admin/addpatient}">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Informations personnels</h6>
                            </div>
                            <div class="card-body">
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-6">
                                        <label for="fullname" class="form-label">Nom complet</label>
                                        <input type="text" name="fullname" th:value="${patient.fullname}"
                                               class="form-control" id="fullname" required>
                                        <span class="text-danger" th:errors="${patient.fullname}"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="CIN" class="form-label">CIN</label>
                                        <input type="text" name="CIN" th:value="${patient.CIN}" class="form-control"
                                               id="CIN" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="datebrith" class="form-label">Date d'anniversaire</label>
                                        <input type="date" th:value="${patient.datebrith}" name="datebrith"
                                               class="form-control" id="datebrith" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Le sexe</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           th:filed="*{patient.gender}" name="gender"
                                                           id="exampleRadios11" value="Homme" checked>
                                                    <label class="form-check-label" for="exampleRadios11">
                                                        Homme
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           th:filed="*{patient.gender}" name="gender"
                                                           id="exampleRadios22" value="Femelle">
                                                    <label class="form-check-label" for="exampleRadios22">
                                                        Femelle
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Adresse e-mail</label>
                                        <input type="email" th:value="${patient.email}" name="email"
                                               class="form-control" id="email" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="phonenumber" class="form-label">Numéro de téléphone</label>
                                        <input type="text" th:value="${patient.phonenumber}" name="phonenumber"
                                               class="form-control" id="phonenumber" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="address" class="form-label">adresse</label>
                                        <textarea name="address"  th:value="${patient.address}" class="form-control" id="address" rows="3" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Rendez Vous</h6>
                            </div>
                            <div class="card-body">
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-6">
                                        <label for="date" class="form-label">Date</label>
                                        <input type="date" name="date" th:value="${rdv.date}" class="form-control" id="date">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="time" class="form-label">Temps </label>
                                        <input type="time" name="time" th:value="${rdv.time}" class="form-control" id="time">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="reson" class="form-label">raison</label>
                                        <textarea name="reson"  th:value="${rdv.reson}" class="form-control" id="reson" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit"  class="btn btn-primary mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>